<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href ="./css/style.css">
    <link rel="stylesheet" href ="./css/style_home.css">
</head>
<body>
    <!--TITLE AREA-->
    <div class="TitleArea">
        <!--TITLE-->
        <div class="TitleFlex">
            <h1>GARBAGE ENTREPRISE</h1>
        </div>
    </div>



    <div class="ButtonsArea">
        <button class="ButtonProfile" id="ButtTrashManager" onclick="location.href='/logintrashmanager'">TRASH MANAGER</button>
        <button class="ButtonProfile" id="ButtTrashCollector" onclick="location.href='/trashcollector'">TRASH COLLECTOR</button>
    </div>
</body>
</html>