<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test TTN</title>
    <!--API SOCKET.IO +GoogleMaps-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWczO0nzqJmcu5iLtLfWXe8RF9JgnlRyo&callback=initMap&libraries=maps,marker&v=beta" defer></script></script>
    <link rel="stylesheet" href ="./css/style.css">
</head>
<body>
   <!--TITLE AREA-->
   <div class="TitleArea">
        <!--TITLE-->
        <div class="TitleFlex">
            <h1>TRASH MANAGER</h1>                
        </div>
   </div>



    <!--TABLE AREA-->
    <div class="TableArea">
        <!--INFO SELECTION ZONE-->
        <div class="ZoneSelection">
            <!--TEXT OF THE ZONE-->
            <span class="TextSelection">SELECTION</span>

            <!--CHECKBOX-->
            <div class="ChoiceCheckboxFlex">
                <!--ALL CHECKBOX-->
                <div class="AllCheckboxFlex">
                    <input type="checkbox" id="selectAllCheckbox">
                    <p id="pAll">Select All</p>
                </div>
                <!--RED CHECKBOX-->
                <div class="RedCheckboxFlex">
                    <input type="checkbox" id="selectRedCheckbox">
                    <p id="pRed">Select Filled Trashs</p>
                </div>
            </div>

            <!--NUMBER OF SELECTED/TOTAL TRASH-->
            <div class="InfoNbTrashFlex">
                <p><span class="underline">Trashs:</span><span> </span><span id="SelectedTrash"></span>/<span id="TotalTrash"></span></p>
            </div>

            <!--MAP BUTTON-->
            <div class="MapButtonFlex">
                <button id="MapButton">CIRCUIT CALCULATION</button>
            </div>
        </div>


        <!--TABLE OF TRASHS-->
        <div class="Table">           
            <!--TABLE-->
            <table id="TableTrashs">
                <!--HEADER-->
                <thead>
                    <tr>
                        <th id="thnumber"></th>
                        <th id="thcheckbox"></th>
                        <th>ID Trash</th>    
                        <th>Filling Level</th>                  
                        <th>Weight [kg]</th>
                        <th>Quantity [m³]</th>
                        <th hidden>Latitude</th>
                        <th hidden>Longitude</th>
                    </tr>
                </thead>

                <!--CONTENT-->
                <tbody id="TableBody">
                    <!--LISTE TRASHS-->
                </tbody>
            </table>
        </div>
    </div>



    <!--MAP AREA-->
    <div class="MapArea">
        <!--TITLE-->
        <div class="TitleMapFlex">
            <h2>MAP</h2>                
        </div>
        <!--MAP-->
        <div id="MapTrash">
        </div>   

       <!--TABLE RESUMANT LA ROUTE AVEC PTS DE PASSAGE-->
       <div class="SummaryRoute">
            <table id="TableSummaryRoute">
                <thead>
                    <tr>
                        <th id="thletter">Lettre</th>
                        <th>ID</th>
                        <th>Adresse</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
       </div>
    </div>
</div>

<!-- <button id="saveRouteButton" onclick="saveWaypointsToJSON()">REGISTER</button> -->


        <!-- A FAIRE:
        1)Nettoyage Code
        2)De base Map pas visible, puis MapBouton affiche (+vérfier synthèse Bouton-Fct)
        3)Cacher l'entête Lettre
        4)Design Tableau Résumé et Bouton register
        5)Bouton Register: Enregistre ds JSON les éléments du Tableau
        6)FAIRE MOCKUPS
        --> 


    <script>
        //LOAD DATA TRASHS FROM JSON
        fetch("/trashs.json")
            .then(response=> response.json())
            .then(data=> {
                console.log(data)

                //DS TABLE TRASHS: 1LIGNE= CHAQUE POUBELLE DU JSON
                const TableBody= document.getElementById("TableBody");
                data.forEach((trash, index)=> {
                    //AFFICHAGE DES DONNÉES
                    const row= document.createElement("tr");
                    row.innerHTML= `
                        <td id="tdnumber">${index +1}</td>
                        <td><input type="checkbox" class="component-checkbox"></td>
                        <td>${trash.ID}</td>
                        <td id="LevelfillingTrash${index +1}"></td>
                        <td id="WeightTrash${index +1}">${trash.Bytes[trash.Bytes.length -1]}</td>
                        <td id="QuantityTrash${index +1}">${trash.Bytes[trash.Bytes.length -1]}</td>
                        <td id="LatitudeTrash${index +1}" hidden >${trash.Latitude}</td>
                        <td id="LongitudeTrash${index +1}" hidden>${trash.Longitude}</td>`;
                    TableBody.appendChild(row);


                    //GESTION COULEURS (REMPLISSAGE+TEXTE)
                    //Récupération Data Poids et Quantité
                    const weight= parseFloat(trash.Bytes[trash.Bytes.length -1]);
                    const quantity= parseFloat(trash.Bytes[trash.Bytes.length -1]);
                    const {Levelfilling, Colorfilling, Colortext, highlightWeight, highlightQuantity}= FillingLevel(weight, quantity);

                    //Remplissage: % et CouleurFond
                    const LevelfillingCell= document.getElementById(`LevelfillingTrash${index +1}`);
                    LevelfillingCell.innerText= Levelfilling;
                    LevelfillingCell.style.backgroundColor= Colorfilling;
                    //Poids et Quantité: CouleurTexte
                    const WeightCell= document.getElementById(`WeightTrash${index +1}`);
                    const QuantityCell= document.getElementById(`QuantityTrash${index +1}`);                   
                    if (highlightWeight) {
                        WeightCell.style.color= Colortext;
                    } else {
                        WeightCell.style.color= "green";
                    }
                    if (highlightQuantity) {
                        QuantityCell.style.color= Colortext;
                    } else {
                        QuantityCell.style.color= "green";
                    }
                });
            
 
                //% +VERT/ORANGE/ROUGE, SELON POIDS ET QUANTITÉ
                //FCT POUR DÉFINIR % +COULEURS
                function FillingLevel(weight, quantity){
                    //Conversion Poids et Quantité pour Nb Float
                    weight= parseFloat(weight);
                    quantity= parseFloat(quantity);
                    //% et Couleur de remplissage, Couleur de texte pour Poids et Quantité
                    let Levelfilling;
                    let Colorfilling;
                    let Colortext= "green";
                    let highlightWeight= false;
                    let highlightQuantity= false;

                    //SWITCH CASE POUR 0%,50%,75%,100%
                    switch (true) {
                        //0%: Si Poids<=50 ET Quantité<=50
                        case (weight<=50 && quantity<=50):
                            Levelfilling= "0%";
                            Colorfilling= "green";
                            break;

                        //25%: Si 50<Poids<=100 OU 50<Quantité<=100
                        case ((weight>50 && weight<=100) || (quantity>50 && quantity<=100)):
                            Levelfilling= "25%";
                            Colorfilling= "green";
                            break;

                        //50%: Si 100<Poids<=120 OU 100<Quantité<=120
                        case ((weight>100 && weight<=120) || (quantity>100 && quantity<=120)):
                            Levelfilling= "50%";
                            Colorfilling= "green";
                            break;

                        //75%: Si 120<Poids<=228 OU 120<Quantité<=228
                        case ((weight>120 && weight<=228) || (quantity>120 && quantity<=228)):
                            Levelfilling= "75%";
                            Colorfilling= "orange";
                            Colortext= "orange";
                            highlightWeight= (weight>120 && weight<=228);
                            highlightQuantity= (quantity>120 && quantity<=228);                         
                            break;

                        //100%: Si Poids>=228 OU Quantité>228
                        case (weight>228 || quantity>228):
                            Levelfilling= "100%";
                            Colorfilling= "red";
                            Colortext= "red";
                            highlightWeight= (weight>228);
                            highlightQuantity= (quantity>228);
                            break;

                        default:
                            Levelfilling= "Unknown";
                            Colorfilling= "black";
                            break;
                    }
                    return {Levelfilling, Colorfilling, Colortext, highlightWeight, highlightQuantity};
                }



                //SELECTION INFOS(WITH CHECKBOX)
                //CHECKBOX
                //ALL CHECKBOX
                document.getElementById("selectAllCheckbox").addEventListener("change",function() {
                    const isChecked= this.checked;
                    //Coche-Décoche tt les checkbox du tableau
                    document.querySelectorAll(".component-checkbox").forEach(checkbox=> {
                        checkbox.checked= isChecked;
                    });
                    //Si AllCheckbox coché: Décoche RedCheckbox
                    if (isChecked){
                        document.getElementById("selectRedCheckbox").checked= false;
                    }
                    UpdateSelectedCount();
                });
             
                //RED CHECKBOX
                document.getElementById("selectRedCheckbox").addEventListener("change",function() {
                    const isRedChecked= this.checked;
                    //1)Si AllCheckbox coché: Décoche AllCheckbox +tt les checkbox du tableau
                    if (isRedChecked && document.getElementById("selectAllCheckbox").checked) {
                        document.getElementById("selectAllCheckbox").checked= false;
                        document.querySelectorAll(".component-checkbox").forEach(checkbox=> {
                            checkbox.checked= false;
                        });
                    }
                    //2)Coche-Décoche les checkbox à 100% de remplissage du tableau
                    document.querySelectorAll(".component-checkbox").forEach((checkbox, index)=> {
                        const levelCell= document.querySelector(`#LevelfillingTrash${index +1}`);                      
                        if (levelCell && levelCell.innerText==="100%") {
                            checkbox.checked= isRedChecked;
                        } else {
                            checkbox.checked= false; 
                        }
                    });
                    UpdateSelectedCount();
                });


                //TOTAL TRASH
                document.getElementById("TotalTrash").innerText= document.querySelectorAll(".component-checkbox").length;

                //SELECTED TRASH
                function UpdateSelectedCount() {
                    const selectedCount= document.querySelectorAll(".component-checkbox:checked").length;
                    document.getElementById("SelectedTrash").innerText= selectedCount;
                }
                document.querySelectorAll(".component-checkbox").forEach(checkbox=> {
                    checkbox.addEventListener("change",UpdateSelectedCount);
                });
                UpdateSelectedCount();
            })
        .catch(error=> console.error("Error fetching data:",error));






        //MAP WITH ROUTE
        //FCT MAP
        function initMap() {
            const Map= new google.maps.Map(document.getElementById("MapTrash"), {
                zoom: 13,
                //Par défaut: Bruxelles
                center: {lat: 50.8466, lng: 4.3528}, 
                //Retirer Commerces
                styles: [
                    {featureType: "poi",
                    stylers: [{visibility: "off"}]}
                ]
            });
            //Trajectoire+Dessin du chemin
            const directionsService= new google.maps.DirectionsService();
            const directionsRenderer= new google.maps.DirectionsRenderer({
                polylineOptions: {
                    strokeColor: "rgba(70, 0, 205, 0.6)",
                    strokeWeight: 6
                }
            });
            directionsRenderer.setMap(Map);



            //Départ+Arrivée: ECAM
            const Start= {lat: 50.84858958378759, lng: 4.458560946485824};
            const End= {lat: 50.84870475195036, lng: 4.459306220020603};   

            //FCT: Trashs séléctionnés= Pts de passage
            function SelectedWaypoints() {
                const Waypoints= [];
                document.querySelectorAll(".component-checkbox:checked").forEach((checkbox)=> {
                    const row= checkbox.closest("tr");
                    const latitude= parseFloat(row.querySelector(`#LatitudeTrash${row.rowIndex}`).innerText);
                    const longitude= parseFloat(row.querySelector(`#LongitudeTrash${row.rowIndex}`).innerText);
                    Waypoints.push({location: {lat: latitude, lng: longitude}, stopover: true});
                });
                return Waypoints;
            }

            //FCT: Calcul de route en passant par Trashs sélectionnés
            function CalculateRoute() {
                const WayPoints= SelectedWaypoints();       
                directionsService.route({
                    origin: Start,
                    destination: End,
                    waypoints: WayPoints,
                    optimizeWaypoints: true,
                    travelMode: google.maps.TravelMode.DRIVING
                }, (response,status)=> {
                    if (status===google.maps.DirectionsStatus.OK) {
                        directionsRenderer.setDirections(response);
                        TableSummaryRoute(response);
                    } 
                    else {
                        alert("Erreur Itinéraire: " + status);
                    }
                });
            }

            //MAP BUTTON
            document.getElementById("MapButton").addEventListener("click",()=> {
                CalculateRoute();
                document.querySelector(".TitleMapFlex").scrollIntoView({behavior: "smooth"});
            });
        }





        
        //FCT COORDONNÉES-->ADRESSE
        async function Address(lat, lng) {
            const response= await fetch(`https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=AIzaSyAWczO0nzqJmcu5iLtLfWXe8RF9JgnlRyo`);
            const data= await response.json();
            if (data.status==="OK") {
                return data.results[0].formatted_address;
            } else {
                console.error("Erreur Adresse :", data.status);
                return "Adresse non-trouvée";
            }
        }


        //FCT TABLE RESUMANT ROUTE AVEC PTS DE PASSAGE
        async function TableSummaryRoute(response) {
            const TableSummaryyRoute= document.getElementById("TableSummaryRoute");
            TableSummaryyRoute.innerHTML= "";

            //Pt de départ(ECAM) 
            const rowSTART= document.createElement("tr");
            rowSTART.innerHTML= `
                <td>A</td>
                <td>ECAM</td>
                <td>Prom. de l'Alma 50, 1200 Woluwe-Saint-Lambert, Belgique</td>
                <td>50.84858958378759</td>
                <td>4.458560946485824</td>`;
            TableSummaryyRoute.appendChild(rowSTART);

            //Pts de passage
            const WaypointsOrder= response.routes[0].waypoint_order;
            for (let i= 0; i<WaypointsOrder.length; i++) {
                const index= WaypointsOrder[i];
                const trashRow= document.querySelectorAll(".component-checkbox:checked")[index].closest("tr");
                const letter= String.fromCharCode(66 +i); //B,C,D,...
                const trashID= trashRow.cells[2].innerText;
                const latitude= trashRow.cells[6].innerText;
                const longitude= trashRow.cells[7].innerText;
                const address= await Address(latitude, longitude);
                let row= document.createElement("tr");
                row.innerHTML= `
                    <td>${letter}</td>
                    <td>${trashID}</td>
                    <td>${address}</td>
                    <td>${latitude}</td>
                    <td>${longitude}</td>`;
                TableSummaryyRoute.appendChild(row);
            }

            //Pt d'arrivée(ECAM)
            const rowEND= document.createElement("tr");
            rowEND.innerHTML= `
                <td>${String.fromCharCode(66 +WaypointsOrder.length)}</td>
                <td>ECAM</td>
                <td>Prom. de l'Alma 50, 1200 Woluwe-Saint-Lambert, Belgique</td>
                <td>50.84870475195036</td>
                <td>4.459306220020603</td>`;
            TableSummaryyRoute.appendChild(rowEND);
        }
    </script>
</body>
</html>
