/*TITLE AREA, FOR LOGIN TRASHMANAGER PAGE +TRASHMANAGER PAGE*/
.TitleArea 
{display: flex;
align-items: center;
position: relative; 
background-color: rgba(18, 18, 20, 0.922);
height: auto;
padding: 2%;
padding-top: 0.5%;
padding-bottom: 1%;
margin: 0%;}

    /*BUTTON BACK*/
    .ButtonBackFlex 
    {display: flex;
    position: absolute;
    align-items: center;
    left: 10px;
    width: 75px;
    height: 75px;
    cursor: pointer;}

    .ButtonBackFlex img 
    {object-fit: contain;
    width: 100%;
    height: 100%;}


    /*TITLE*/
    .TitleFlex 
    {display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;}

    h1 
    {color: white;
    font-size: 3.6rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 0px;}






/*LOGIN TRASHMANAGER PAGE*/
/*LOGIN AREA*/
.LoginArea 
{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;}

.LoginFlex
{display: flex;
flex-direction: column;}

        /*TITLE*/
        label
        {display: flex;
        flex-direction: column;
        color:white;
        font-size: 200%;
        font-weight: bold;
        text-decoration: underline;}


        /*INPUT PASSWORD +LOGIN BUTTON*/
        .Input_ButtonFlex
        {display: flex;
        flex-direction: row;
        margin-top: 5px;}

            .PasswordFlex
            {position: relative;
            width: 300px;}

                /*INPUT PASSWORD*/
                #Password 
                {width: 300px;
                font-size: 1.2rem;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;}

                /*MASK PASSWORD BUTTON*/
                #MaskPasswordButton
                {position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity 0.3s ease;
                width: 40px;
                height: 40px;
                opacity: 0.7;
                cursor: pointer;}

                #MaskPasswordButton:hover 
                {opacity: 1;}


            /*LOGIN BUTTON*/
            #LoginButton 
            {width: 100%;
            height: 50px;
            background-color: #d8b9f2;
            color: black;
            font-size: 1.3rem;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;            
            margin-left: 35px;}

            #LoginButton:hover 
            {background-color: #c09ce8;}



        /*ERROR MESSAGE*/
        #ErrorMessage 
        {display: none;
        text-align: start;
        color: red;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 5px;}

  






/*TRASHMANAGER PAGE*/
/*TABLE AREA*/
.TableArea{
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 2.4%}
    
        /*INFO SELECTION ZONE*/
        .ZoneSelection
        {display: flex;
        flex-direction: row;
        position: relative;
        background-color:rgba(18, 18, 20, 0.922);  
        max-width: 960px;
        overflow: visible;
        border: 0.3em solid black;
        border-radius: 1em;}
    
            /*TEXT ZONE*/
            .TextSelection
            {position: absolute;
            left: 1.3%;
            top: -25%;
            background-color:rgb(19, 143, 46);
            color:white;
            font-size: 160%;
            font-weight: bold;
            padding-left: 0.5%;
            padding-right: 0.5%;
            border-radius: 0.1em;}
    

            /*INFOS*/
            /*CHECKBOX*/
            .ChoiceCheckboxFlex
            {display: flex;
            flex-direction: row;
            color:white;
            font-size: 110%;
            font-weight: bold;
            margin-left: 2%;}

            p
            {display: inline;
            white-space: nowrap;
            margin-bottom: 4%;}  
            .underline
            {text-decoration: underline;
            text-decoration-thickness: 10%;}

                /*ALLCHECKBOX*/
                .AllCheckboxFlex
                {display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 3.5%;
                margin-right: 7%}

                #selectAllCheckbox
                {cursor: pointer;
                accent-color:rgb(21, 116, 42);
                transform: scale(2.5)}

                #pAll
                {margin-left: 9%;
                margin-bottom: 18%}

                /*REDCHECKBOX*/
                .RedCheckboxFlex
                {display: flex;
                flex-direction: row;                
                align-items: center;
                margin-left: 7%;
                margin-top: 3.5%;
                margin-right: 7%}

                #selectRedCheckbox
                {cursor: pointer;
                accent-color:rgb(21, 116, 42);
                transform: scale(2.5);;}

                #pRed
                {margin-left: 5.5%;
                margin-bottom: 10%}


            /*NUMBER OF SELECTED TRASHES*/
            .InfoNbTrashFlex
            {display: flex;
            flex-direction: column;
            color:white;
            font-size: 145%;
            font-weight: bold;
            margin-left: 20%;
            margin-top: -0.2%;}
    
    
            /*MAP BUTTON*/
            .MapButtonFlex
            {display: flex;
            flex-direction: column;
            min-width: 10em;
            margin-left: 1.75em;
            margin-right: 3.6em;
            margin-top: 0.75em;}
    
            #MapButton
            {background-color:rgb(117, 62, 245);
            color:white;
            font-size: 100%;
            font-weight: bold;
            padding: 2%;
            border: none;
            border-radius: 2em;}
    
            #MapButton:hover
            {cursor: pointer;
            background-color:rgb(100, 50, 218);}
    
            #MapButton:active
            {cursor: pointer;
            background-color:rgb(152, 25, 167);}






        
            
    /*TABLE ZONE*/
    .Table
    {position: relative;
    margin-top: 1.5%}
    table
    {border-collapse: collapse;}
        /*COLUMNS*/
        th, td
        {color:white;
        border: 0.22em rgb(161, 161, 161) solid;}

        th
        {background-color:rgb(0, 0, 0);
        font-size: 150%;
        font-weight: bold;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;}

        td
        {background-color:rgba(27, 27, 29, 0.922);
        font-size: 130%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;}

        #thnumber, #thcheckbox
        {background-color:rgb(50, 50, 58);
        border:none}

        #tdnumber
        {background-color:rgb(0, 0, 0);
        font-weight: bold;
        width: 2.5%;}

        #tdcheckbox
        {background-color:rgb(0, 0, 0);
        font-weight: bold;}

        .component-checkbox
        {cursor: pointer;
        accent-color:rgb(19, 143, 46);
        transform: scale(1.7);}






        
       
/*MAP AREA*/
.MapArea
{display: flex;
flex-direction: column;
margin: 2%;
margin-top: 0.5%;
display: none;}

    /*TITLE*/
    .TitleMapFlex
    {display: flex;
    flex-direction: row;
    justify-content: left;}

    h2
    {color:white;
    font-size: 250%;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0%;
    margin-bottom: 0%;}


    /*MAP*/
    #MapTrash
    {width: 100%;
    height: 490px;}


    /*SUMMARY ROUTE TABLE +SEND ROUTE BUTTON*/
    .SummaryRouteAndSendRoute
    {display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    gap: 0px;
    margin-top: 2%;}

        /*SUMMARY ROUTE TABLE*/
        .SummaryRouteFlex
        {display: flex;
        flex-direction: column;
        width: 95%;
        margin-right: 15px;}

            #TableSummaryRoute
            {width: 100%;}
            #TableSummaryRoute th:first-child, .SummaryRouteFlex td:first-child 
            {width: 10%;}
            #TableSummaryRoute th:nth-child(2), .SummaryRouteFlex td:nth-child(2) 
            {width: 30%;}
            #TableSummaryRoute th:nth-child(3), .SummaryRouteFlex td:nth-child(3) 
            {width: 70%;}

            #thletter
            {background-color:rgb(50, 50, 58);
            border:none}

            .tdletter
            {background-color:rgb(0, 0, 0);
            font-weight: bold;}

            .tdstart
            {background-color:rgb(53, 87, 35)}

            .tdend
            {background-color:rgb(132, 7, 5)}



        /*SEND ROUTE BUTTON*/
        .SendRouteButtonFlex 
        {display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}

        #SendRouteButton 
        {background-color: rgb(0, 204, 204);
        color: black;
        font-size: 1.4rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;}

        #SendRouteButton:hover 
        {background-color: rgb(1, 177, 177);
        cursor: pointer;}





/*POPUP AREA*/
.PopupArea
{display: flex;
justify-content: center;
align-items: flex-start;
position: fixed;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.7);
width: 100%;
height: 100%;
padding-top: 4%;}

.hidden 
{display: none;}

    /*INSIDE POPUP*/
    .PopupFlex
    {position: relative;
    background: rgb(193, 193, 193);
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 550px;
    padding: 20px;
    padding-bottom: 13px;}

        /*SUCCES ICON*/
        .SuccessIcon 
        {display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 70px;}

        .SuccessIcon img 
        {width: 50px;
        height: 50px;}


        /*TITLE*/
        .PopupFlex h2 
        {color: #333;
        font-size: 1.8rem;
        font-weight: bold;
        white-space: nowrap;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 9.5px;}


        /*TEXT*/
        .PopupFlex p 
        {color: #555;
        font-size: 1rem;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;}


        /*CLOSE-POPUP BUTTON*/
        #ClosePopupButton 
        {background-color: #03d603;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;}

        #ClosePopupButton:hover 
        {background-color: #009900;}

        